<head>
    <title>ScoreForger</title>
    <link rel="icon" sizes="32x32" href="https://lazer.ppy.sh/images/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/all.js"></script>
</head>
<body>
    <main>
        <h1>Score Forger <span style="font-size: 12px;">❤ <a href="https://reze.moe">mishashto</a></span></h1>
        <br>
        <div class="container text-center no-margin-container">
            <div class="alert alert-warning" role="alert">
                ⚠ <b>Warning: </b> This tool is available for testing purposes only. Do not use it to cheat on official osu! servers. <b>Use at your own risk.</b>
            </div>
            <div class="row g-3">
                <div class="col">
                    <div class="card" style="width: 100%; text-align: left;">
                        <div class="card-body">
                            <h5 class="card-title">User authentication</h5>
                            <form class="row g-3">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="score-auth-username" placeholder="Username">
                                </div>
                                <div class="col-auto">
                                    <input type="password" class="form-control" id="score-auth-password" placeholder="Password">
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-secondary" id="user-auth-test">Log in</a>
                                </div>
                            </form>
                            <hr>
                            <h5 class="card-title">Score data</h5>
                            <form id="scoreData">
                                <div class="row g-3">
                                    <div class="col-auto">
                                        <label for="score-data-maplink">Map link:</label>
                                        <input type="text" class="form-control" id="score-data-maplink" placeholder="https://osu.ppy.sh/beatmapsets/838193">
                                    </div>
                                    <div class="col-auto">
                                        <label for="score-data-ruleset">Ruleset:</label>
                                        <select class="form-select" id="score-data-ruleset" aria-label="Select a ruleset">
                                            <option selected value="0">Standard</option>
                                            <option value="1">Taiko</option>
                                            <option value="2">Catch</option>
                                            <option value="3">Mania</option>
                                        </select>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-auto">
                                        <label for="score-data-rank">Rank:</label>
                                        <select class="form-select" id="score-data-rank" aria-label="Select a rank">
                                            <option value="XH">SS (Hidden)</option>
                                            <option selected value="X">SS</option>
                                            <option value="SH">S (Hidden)</option>
                                            <option value="S">S</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                            <option value="F">F</option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <label for="score-data-score">Score:</label>
                                        <input type="number" class="form-control" id="score-data-score" placeholder="1000000" value="1000000" min="-2147483647" max="2147483647">
                                    </div>
                                    <div class="col-auto">
                                        <label for="score-data-combo">Combo:</label>
                                        <input type="number" class="form-control" id="score-data-combo" placeholder="1234" value="1234" min="-65535" max="65535">
                                    </div>
                                </div>
                                <br>
                                
                                <div class="row">
                                    <div class="col-auto">
                                        <label for="score-data-great">Greats:</label>
                                        <input type="number" class="form-control" id="score-data-great" placeholder="100" value="100" min="-65535" max="65535">
                                    </div>
                                    <div class="col-auto">
                                        <label for="score-data-ok">OKs:</label>
                                        <input type="number" class="form-control" id="score-data-ok" placeholder="100" value="100" min="-65535" max="65535">
                                    </div>
                                    <div class="col-auto">
                                        <label for="score-data-miss">Misses:</label>
                                        <input type="number" class="form-control" id="score-data-miss" placeholder="100" value="100" min="-65535" max="65535">
                                    </div>
                                </div>

                                <label for="score-data-accuracy">Accuracy:</label>
                                <div class="row">
                                    <div class="col-auto">
                                        <input type="range" class="form-range" min="0" max="1" step="0.01" id="score-data-accuracy" value="1" onchange="document.querySelector('#accuracy-value').innerText = Math.floor(this.value * 100) + '%';" onmouseover="document.querySelector('#accuracy-value').innerText = Math.floor(this.value * 100) + '%';">
                                    </div>
                                    <div class="col-auto">
                                        <span id="accuracy-value">100%</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" checked id="score-data-passstate">
                                            <label for="score-data-passstate">Is Passed</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <label for="score-data-mods">Mods:</label>
                                <br><br>
                                <div class="possible-mods">
                                    <!-- fill out by itself -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 100%; text-align: left;">
                        <img src="https://lazer.ppy.sh/assets/images/default-bg.7594e945.png" class="card-img-top" alt="..." id="beatmap-image">
                        <div class="card-body">
                            <h5 class="card-title" id="beatmap-name">Input a map</h5>
                            <a href="#" class="btn btn-primary disabled" id="submit-score-button" disabled>Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>